extends layout

block content
	h1= simulation
	form
		div.form-group
			label(for='value') Value:
			input#value.form-control(type='text', name='value', value=value)
		button.btn.btn-primary(type='submit') Update
